@font-face {
  font-family: "Courgette";
  src: url(font/Courgette/Courgette-Regular.ttf);
}

:root {
  --bg-color : black;
  --navbar-color : palevioletred;
  --text1-color : indianred;
  --text2-color : lightpink;
  --text3-color : #DED1D1;
  --text4-color : white;
  --icon-color : crimson;
}

.LightMode {
  --bg-color : palevioletred;
  --navbar-color : black;
  --text1-color : #262625;
  --text2-color : #382A1C;
  /* --text3-color : #554D45; */
  --icon-color : #650000;
  /* --text4-color : #978C82;
  --text5-color : #D9DDDC; */
}

body {
  background-color: var(--bg-color);
}

.navbar {
  background-color: var(--navbar-color);
  font-family: "Courgette";
  color: var(--text4-color);
}

.navbar-flex {
  width: 100px;
  justify-content: space-around;
}

section {
  font-family: "Courgette";
}

/* Home */
.home {
  display: flex;
  justify-content: center;
  padding-top: 125px;
  padding-bottom: 125px;
}

.photo img {
  border-radius: 5px;
}

.identity {
  padding-top: 30px;
  padding-left: 120px;
  text-align: center;
  font-family: "Courgette";
}

.name {
  font-size: 50px;
  color: var(--navbar-color);
}

.job {
  font-size: 20px;
  color: var(--text1-color);
}

.btn-project a {
  color: var(--text4-color);
  text-decoration: none;
  padding-bottom: 20px;
}

.btn-download {
  background-color: var(--icon-color);
  color: var(--text4-color);
  border-radius: 5px;
}

.btn-download:hover{
  background-color: var(--text1-color);
  color: var(--text4-color);
}
/* Home end */

/* About Me */
.about-me,
.experience,
.education,
.skill,
.certificate-2 {
  padding-top: 70px;
  color: var(--navbar-color);
}

.about-me p {
  font-size: 20px;
  padding-top: 20px;
  color: var(--text4-color);
}

.row-experience,
.education-1 {
  padding-top: 20px;
}

.position h4,
.universitas h4 {
  color: var(--text1-color);
}

.position p{
  font-size: 15px;
  color: var(--text3-color);
}

.position h6,
.universitas h6,
.certificate-title {
  color: var(--text2-color);
}

.universitas p {
  color: var(--text3-color);
}

.description ul,
.certificate-publisher,
.skill-column {
  color: var(--text4-color);
}

.skill .container-grid {
  display: grid;
  /* Membuat dua kolom dengan lebar yang sama */
  grid-template-columns: 1fr 1fr 1fr;
  /* Jarak antar kolom */
  gap: 20px;
  padding-top: 20px;
  justify-content: space-around;
  letter-spacing: 2px;
}

.certificate {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  padding-top: 20px;
}

.certificate-img {
  width: 100%;
  cursor: pointer;
}

.certificate-img:hover {
  opacity: 0.5;
}

.full-img {
  width: 100%;
  height: 100vh;
  background: rgb(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.full-img img {
  padding-top: 50px;
  width: 100%;
  max-width: 390px;
}

.full-img span {
  position: absolute;
  top: 10%;
  right: 5%;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

.certificate-desc {
  padding-top: 20px;
}
/* About Me end */

/* My Project */
#myProject {
  padding-top: 70px;
  padding-bottom: 50px;
  color: var(--navbar-color);
}

.project{
  padding-top: 20px;
  color: var(--text1-color);
}

.project-title h5 {
  color: var(--text2-color);
}

.project-desc {
  color: var(--text4-color);
  font-size: 17px;
}

.project-photo {
  padding-top: 10px;
  padding-bottom: 40px;
  text-align: center;
}

.project-photo img{
  padding: 5px;
  width: 350px;
  border-radius: 5%;
}
/* Project.html End */

/* Contact */
.contact {
  padding-top: 70px;
  padding-bottom: 150px;
  color: var(--navbar-color);
}

.contact-title {
  color: var(--text2-color);
}

.col-contact {
  padding-top: 20px;
  padding-bottom: 20px;
}

.contact-icon i {
  font-size: 40px;
  color: var(--icon-color);
}

.contact-fill,
.contact-fill a {
  color: var(--text4-color);
  text-decoration: none;
  cursor: pointer;
}
/* Contact End */

/* Responsive */
@media (max-width: 992px) {
.navbar-nav a {
  float: none;
}

  .jumbotron {
    /* padding-top: 50px; */
    padding-bottom: 0px;
  }

  .profil {
    flex-wrap: wrap;
  }

  .photo img {
    width: 200px;
  }

  .name {
    font-size: 30px;
  }

  .job {
    font-size: 17px;
  }

  .about-me,
  #myProject {
    padding-top: 70px;
  }

  .education-1,
  .certificate {
    text-align: center;
    padding-top: 20px;
  }

  .full-img img {
    width: 79%;
    max-width: 500px;
  }

  .project-photo img{
    text-align: center;
    padding-top: 10px;
  }
}

@media (max-width: 576px) {
  .jumbotron {
    padding-top: 50px;
    padding-bottom: 0px;
  }

  .identity {
    padding-left: 0;
  }
}
